# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
flask;
opentelemetry-api;
opentelemetry-distro;
opentelemetry-exporter-otlp;
opentelemetry-exporter-otlp-proto-grpc;
opentelemetry-exporter-otlp-proto-http;
opentelemetry-instrumentation;
opentelemetry-proto;
opentelemetry-sdk;